body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
}
h2{
    text-align: center;
    color: black;
}
.searchBox{
    width: 500px;
    height: 25px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 20px;
    float: left;
}
.searchButton{
    width: 100px;
    height: 62px;
    color: white;
    font-weight: 800;
    background-color: olivedrab;
    border-radius: 8px;
    border-style: none;
}
.searchBox input{
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 20px;
    padding-left: 10px;
}
.meal-list{
    border-radius: 3px;
}
.meal-list img{
    width: 200px;
}